sudo : required
services:
  - docker
  
before_install:
  - docker build -t edbonnet/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run edbonnet/react-test npm test -- --coverage

after_success:
  - docker build -t edbonnet/multi-client ./client
  - docker build -t edbonnet/multi-nginx ./nginx
  - docker build -t edbonnet/multi-server ./server
  - docker build -t edbonnet/multi-worker ./worker
# Log into the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
# Take those images and push them to github
  - docker push edbonnet/multi-client 
  - docker push edbonnet/multi-nginx 
  - docker push edbonnet/multi-server 
  - docker push edbonnet/multi-worker